<ion-header>
  <ion-toolbar> <ion-title> Primera pestaña </ion-title> </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/mario.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Hello World</ion-card-subtitle>
      <ion-card-title>Esta es mi primera app con Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Ahora que la app se ha creado, vamos a empezar a experimentar con ella!
      </p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-item> <ion-label> HELLO WORLD! </ion-label> </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
